.base {
    position: fixed;
    top: 0em;
    left: 0em;
    right: 0em;
    bottom: 0em;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 100;
}

.masterView {
    position: absolute;
    top: 0em;
    left: 0em;
    width: 50em;
    bottom: 0em;
    border-right: solid rgba(0, 0, 0, 0.5) 1px;
    background-image: radial-gradient(at left -330%, #262739 20.17%, #15151a 91.6%);
    box-shadow: inset -10px 0px 10px -10px black;
}