.toolbar {
    position: absolute;
    top: 0em;
    left: 0em;
    right: 0em;
    height: 3.5em;
    background-color: white;
    display: flex;
    padding: 1em;
}

.toolbar a:hover {
    border-bottom: 1px solid transparent;
}

.lookbackPicture {
    position: absolute;
    margin-top: 0.3em;
    z-index: 2;
}

.lookback {
    width: 50%;
}

.title {
    width: 100%;
    text-align: center;
    position: relative;
}

.title span {
    line-height: 3.5em;
}