.header {
    font-family: AvenirNext-Regular;
    font-size: 1.2em;
    color: #000000;
    letter-spacing: 0.11px;
}

.subTItle {
    font-family: AvenirNext-Regular;
    font-size: .9em;
    color: #727272;
    letter-spacing: 0.06px;
}