@value cinemaHeight, iPadProHeightH, iPadiPadMiniHeightH, iPhone8PlusHeightV, iPhone8HeightV, iPhoneSEHeightV from "../../common_styles/constants.module.css";

.base {
    height: 60em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-bottom: solid rgba(0, 0, 0, 0.5) 1px;
    position: relative;
    overflow: hidden;
    position: relative;
}

.header {
    font-family: AvenirNext-Regular;
    font-size: 1.1em;
    color: #676767;
    letter-spacing: .12px;
    position: absolute;
    top: 1.2em;
}

.body {
    font-family: AvenirNext-Regular;
    font-size: 1.4em;
    color: #676767;
    letter-spacing: 0.12px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    max-width: 800px;
    flex-direction: column;
    padding-top: 4em;
}

.emphasis {
    font-family: AvenirNext-Bold;
}

.normal {
    font-family: AvenirNext-Regular;
}

.pictureFrame {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.pictureLeft {
    position: absolute;
    left: 0;
    bottom: -10px;
}

.leftDesignLine {
    width: 70%;
    float: left;
}

.pictureRight {
    position: absolute;
    right: 0;
    bottom: -280px;
}

.rightDesignLine {
    width: 70%;
    float: right;
}

.button {
    margin-top: 6em;
    background-image: none;
    background-color: transparent;
    font-family: AvenirNext-Regular;
    font-size: .8em;
    color: #676767;
    letter-spacing: .12px;
    border-color: hsla(0,0%,40%,.5);
    width: 12em;
    z-index: 2;
    cursor: pointer;
}

.description {
    font-size: .9em;
    letter-spacing: 0.12px;
    margin: auto;
}

/*cinema*/
@media screen and (min-width: 1750px) {

    .base {
        height:cinemaHeight;
    }

}

/*horizontal: ipad pro*/
@media screen and (max-width: 1112px) {

    .base {
        height: iPadProHeightH;
    }

    .body {
        font-size: 1.2em;
        max-width: 677px;
    }

    .description {
        font-size: .8em;
    }

}

/*horizontal: ipad && ipad mini*/
@media screen and (max-width: 1024px) {

    .base {
        height: iPadiPadMiniHeightH;
    }

    .pictureLeft {
        bottom: -30px;
    }

    .pictureRight {
        bottom: -400px;
    }

}

/*vertical: iphone 8+*/
@media screen and (max-width: 414px) {

    .base {
        height: iPhone8PlusHeightV;
    }

    .body {
        font-size: 1em;
        max-width: 91%;
        font-size: .9em;
        padding-top: 0em;
    }

    .button {
        margin-top: 3em;
        font-size: .8em;
        width: 12em;
    }

    .pictureLeft {
        bottom: -30px;
    }

    .pictureRight {
        bottom: -40px;
    }

}

/*vertical: iphone 8*/
@media screen and (max-width: 375px) {

    .base {
        height: iPhone8HeightV;
    }

}

/*vertical: iphone SE*/
@media screen and (max-width: 320px) {

    .base {
        height: iPhoneSEHeightV;
    }

}