.button {
    font-family: AvenirNext-Medium;
    font-size: .8em;
    height: 2.8em;
    width: 14em;
    background-image: linear-gradient(-180deg, #EEEEEE 0%, #D8D8D8 100%);
    border: 1px solid #979797;
    border-radius: 4px;
    justify-content: flex-end;
}