@value cinemaHeight from "../../common_styles/constants.module.css";

.base {
    height: 60em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(../../images/distorted-pattern.png);
    border-bottom: solid rgba(0, 0, 0, 0.5) 1px;
    position: relative;
}

.header {
    font-family: AvenirNext-Regular;
    font-size: 1.1em;
    color: #676767;
    letter-spacing: .12px;
    position: absolute;
    top: 1.2em;
}

.body {
    font-family: AvenirNext-Regular;
    font-size: 1.4em;
    color: #676767;
    letter-spacing: 0.12px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    max-width: 800px;
    flex-direction: column;
}

.emphasis {
    font-family: AvenirNext-Bold;
}

.description {
    padding-top: 2em;
    font-size: 1em;
    letter-spacing: 0.12px;
}

.courses {
    margin-top: 4em;
    background-image: linear-gradient(-90deg, rgba(255,255,255,0.40) 0%, rgba(255,255,255,0.00) 48%, rgba(255,255,255,0.40) 100%);
    border: 1px solid rgba(151,151,151,0.25);
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
}

.list {
    display: flex;
    justify-content: center;
    max-width: 70em;
    margin: auto;
}

/*cinema*/
@media screen and (min-width: 1750px) {

    .base {
        height: cinemaHeight;
    }

}

/*horizontal: ipad pro*/
@media screen and (max-width: 1112px) {

    .base {
        height: 50em;
    }

    .description {
        font-size: .8em;
    }

}

/*horizontal: ipad && ipad mini*/
@media screen and (max-width: 1024px) {

    .base {
        height: 51em;
    }

}

/*vertical: iphone 8+*/
@media screen and (max-width: 736px) {

    .body {
        font-size: 1em;
        max-width: 91%;
        padding-top: 0em;
    }

    .description {
        font-size: .9em;
    }

  .list {
      display: flex;
      flex-wrap: wrap;
  }

  .courses {
      padding: 0em;
  }

}