.image {
    width: 65%;
    display:block;
    margin:auto;
    padding-bottom: 1em;
}

.secondaryImage {
    display:block;
    margin:auto;
    width: 36%;
    padding-bottom: 1.5em;
}

.title {
    padding-bottom: 1em;
    font-family: AvenirNext-DemiBold;
    font-size: 18px;
    color: #565656;
    letter-spacing: 0.09px;
    text-align: center;
}

.listview {
    border-left: solid rgba(0, 0, 0, 0.3) 1px;
}

.listview:first-child {
    border-left: solid rgba(0, 0, 0, 0.0) 1px;
}

.moreButton {
    display:block;
    margin:auto;
    width: 6.5em;
    background-image: none;
    background-color: white;
    font-family: AvenirNext-Regular;
    font-size: .9em;
    color: #676767;
    letter-spacing: 0.09px;
    border: solid rgba(0, 0, 0, 0.15) 1px;
    display: none;
}

/*vertical: iphone 8+*/
@media screen and (max-width: 736px) {

    .listview {
        position: relative;
        width: 100%;
        padding-top: 1em;
        padding-bottom: 1em;
        border-top: 1px solid rgba(0,0,0,.1);
    }

    .listview:first-child {
        border-top: 0px solid rgba(0,0,0,.0);
    }

    .image {
        width: 20%;
        display: initial;
        padding: 0em;
        padding-left: 1em;
    }

    .secondaryImage {
        display: initial;
        width: 26%;
        padding-bottom: 1em;
    }

    .listview:first-child >.secondaryImage {
        padding-left: 1.8em;
    }

    .title {
        top: 2em;
        left: 7.3em;
        position: absolute;
        display: inline-grid;
    }

    .moreButton {
        display: initial;
        position: absolute;
        right: 2em;
        top: 2em;
        background-color: transparent;
        border: none;
        color: rgb(5, 174, 250);
        width: 3.5em;
        font-size: .9em;
        display: none;
    }

}