@value cinemaHeight, iPadProHeightH, iPadiPadMiniHeightH, iPhone8PlusHeightV, iPhone8HeightV, iPhoneSEHeightV from "../../common_styles/constants.module.css";

.base {
    height: 60em;
    width: 100%;
    border-bottom: solid rgba(0, 0, 0, 0.5) 1px;
    position: relative;
}

.picture {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pictureFrame {
    position: absolute;
    top: 0em;
    left: 0em;
    right: 0em;
    height: 60em;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.icon {
    width: 60%;
}

.footer {
    position: absolute;
    bottom: 0em;
    left: 0em;
    right: 0em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footerPicture {
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-bottom: 1em;
}

.lookBelowIcon {
    width: 40%;
}

/*cinema*/
@media screen and (min-width: 1750px) {

    .base {
        height:cinemaHeight;
    }

    .pictureFrame {
        height: cinemaHeight;
    }

}


/*horizontal: ipad pro*/
@media screen and (max-width: 1112px) {

    .base {
        height: iPadProHeightH;
    }

    .pictureFrame {
        height: iPadProHeightH;
    }

    .icon {
        width: 50%;
    }


}

/*horizontal: ipad && ipad mini*/
@media screen and (max-width: 1024px) {

    .base {
        height: iPadiPadMiniHeightH;
    }

    .pictureFrame {
        height: iPadiPadMiniHeightH;
    }

    .icon {
        width: 46%;
    }

}

/*vertical: iphone 8+*/
@media screen and (max-width: 414px) {

    .base {
        height: iPhone8PlusHeightV;
    }

    .pictureFrame {
        height: iPhone8PlusHeightV;
    }

}

/*vertical: iphone 8*/
@media screen and (max-width: 375px) {

    .base {
        height: iPhone8HeightV;
    }

    .pictureFrame {
        height: iPhone8HeightV;
    }

}

/*vertical: iphone SE*/
@media screen and (max-width: 320px) {

    .base {
        height: iPhoneSEHeightV;
    }

    .pictureFrame {
        height: iPhoneSEHeightV;
    }

}